/* header section image and text */

.headImg{
    width: auto;
    height: 110vh;
    background-image: url(../img/top.png);
    background-size: cover;
    padding-top: 30vh;
}

.headText{
    text-align: center;
    width: 70%;
    margin: auto ;
}

.headText>h1{
    font-family: 'poppins';
    font-size: 32px;
    font-weight: 500;
    color: white;
    padding-bottom: 20px;
}

.headText>p{
    width: 60%;
    margin: auto;
    color: white;
    font-family: 'saira';
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 25px;
}
.contBtn{
    padding: 6px 35px;
    border-radius: 10px;
    border: transparent;
    font-family: 'saira';
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
    background-color: rgba(255, 255, 255, 0.548);
    color: white;
}

.contBtn:hover{
    transform: scale(1.1); 
    transition-duration: 1000ms;
    cursor: pointer;
    background-color: white;
    color: black;
}




.wtsapp{
    top: 85%;
    left: 91%;
    width: 70px;
    position: fixed;
    cursor: pointer;
    padding: 7px;
    background-color: rgb(14, 80, 14);
    border-radius: 50%;
}

.wtsapp:hover{
    transform: scale(1.1); 
    transition-duration: 1000ms;

}




/* media screen  tab view */

@media screen and (max-width : 929px) {
    .headImg{
        width: auto;
        height: 80vh;
        background-image: url(../img/top.png);
        background-size: cover;
        padding-top: 30vh;
    }
    
    .headText{
        text-align: center;
        width: auto;
        margin: auto ;
    }
    
    .headText>h1{
        font-family: 'poppins';
        font-size: 28px;
        font-weight:500;
        color: white;
        padding-bottom: 20px;
    }
    
    .headText>p{
        width: 70%;
        margin: auto;
        color: white;
        font-family: 'poppins';
        font-size: 13px;
        font-weight: 400;
        padding-bottom: 25px;
    }
    .contBtn{
        padding: 6px 35px;
        border-radius: 10px;
        border: transparent;
        font-family: 'saira';
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 2px;
        background-color: rgba(255, 255, 255, 0.548);
        color: white;
    }
    
    
    
    
    .wtsapp{
        top: 85%;
        left: 82%;
        width: 85px;
        position: fixed;
        cursor: pointer;
        padding: 7px;
        background-color: rgb(14, 80, 14);
        border-radius: 50%;
    }
    
    .wtsapp:hover{
        transform: scale(1.1); 
        transition-duration: 1000ms;
    
    }
}

/* media screen  mobile view */


@media screen and (max-width : 460px) {

    .headImg{
        width: auto;
        height: 90vh;
        background-image: url(../img/top.png);
        background-size: cover;
        padding-top: 30vh;
    }
    
    .headText{
        text-align: center;
        width: auto;
        margin: auto ;
    }
    
    .headText>h1{
        font-family: 'poppins';
        font-size: 24px;
        font-weight: 700;
        color: white;
        padding-bottom: 20px;
    }
    
    .headText>p{
        width: 90%;
        margin: auto;
        color: white;
        font-family: 'poppins';
        font-size: 10px;
        font-weight: 400;
        padding-bottom: 25px;
    }
    .contBtn{
        padding: 8px 28px;
        border-radius: 10px;
        border: transparent;
        font-family: 'saira';
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 2px;
        background-color: rgba(255, 255, 255, 0.548);
        color: white;
    }
    
    
    
    
    .wtsapp{
        top: 88%;
        left: 78%;
        width: 65px;
        opacity: 90%;
        position: fixed;
        cursor: pointer;
        padding: 7px;
        background-color: rgb(14, 80, 14);
        border-radius: 50%;
    }
    
    .wtsapp:hover{
        transform: scale(1.1); 
        transition-duration: 1000ms;
    
    }

}
