* {
	padding: 0;
	margin: 0;
    font-family: 'poppins';
    overflow-x: hidden;
}
.navBar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 80px;
	padding: 0 2rem;
    background-color: #23262f;
	color: white;
    z-index: 10;
}
#logonav{
	display: none;
}
.navinside{
    margin-left: 600px;
}
h2>a{
    color: white;
    text-decoration: none;
}
nav a {
	margin: 0 1rem;
	color: white;
	text-decoration: none;
}

nav a:hover {
	color: red;
}

.navBar .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: white;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}
.navBar div,
nav {
	display: flex;
	align-items: center;
}


/* media screen  tab view */

@media screen and (max-width : 929px) {
	.navBar .nav-btn {
		visibility: visible;
		opacity: 1;
	}
    .navBar{
        position: fixed;
        z-index: 100;
        width: 100%;
    }

	.navBar nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: #23262f;
		transition: 1s;
        z-index: 10;
	}

	.navBar .responsive_nav {
		transform: translateY(100vh);
	}

    .navinside{
        margin-left: 0px;
    }

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
        z-index: 100 ;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
	#logonav{
		display: block;
	}
	.logo{
        display: flex;
		padding-top: 50px;
        gap: 0px;
    }
    .logo>img{
        width: 40px;
        height: 40px;
    }

    .logo>a>img{
        width: 45px;
        
    }
}